@charset "utf-8";

body,div,ul,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p {margin: 0px; padding: 0px; font-size: 12px; font-weight:lighter;}
body{font-family: "source-han-sans-simplified-c";
    /*font-family:"Noto Sans CJK SC Thin", "Source Han Sans CN Thin";*/
    /*font-family:"Noto Sans CJK SC Light", "Source Han Sans CN Light";*/
    /*font-family:"Noto Sans CJK SC DemiLight", "Source Han Sans CN DemiLight";*/
    /*font-family:"Noto Sans CJK SC Medium", "Source Han Sans CN Medium";*/
    /*font-family:"Noto Sans CJK SC Blod", "Source Han Sans CN Blod";*/
    /*font-family:"Noto Sans CJK SC Black", "Source Han Sans CN Black";*/
}
*{margin:0;padding:0;list-style-type:none; text-decoration:none;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
textarea {  -webkit-appearance: none;} 

/*  Top  */
#top{width:100%;height:64px; background-color:#f85032;}
#top span{color:#fff; margin-top:20px !important;
transition-duration: 500ms;-webkit-transition-duration: 500ms;
-webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
-webkit-transition-property: opacity, -webkit-transform;
transition-property: opacity, transform;
display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
}

/*  Content  */
.form{width:90%; margin-left:5%; margin-top:5%;position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;}
.select{    
	border-top-left-radius: 2px;
    border-top-right-radius: 2px;
	margin-right: 0;
    margin-left: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
	border-radius: 5px;
	margin-bottom:10px;
}
.s_label{    
	margin: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
	float:left;
}
.label{
	display:inline-block;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 48px 0 16px;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: .01px;
    font-size: 16px;
    cursor: pointer;
    direction: rtl;
}
.add_drop{display:block; height:100%; float:left; width:10%;margin-left:20%;}
.label option{margin-left:0;}
.button{    
	clear: both;
	display:block; 
	width:100%;   
	border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
	    border-color: transparent;
    background-color: #F85032;
    color: #fff;
	border-radius: 5px;
}
.table{width:90%; margin-left:5%; background-color:#E6EDDF;}
.back{font-size:16px;}
.line{border:0.1px #000 solid; height:0.1px; margin-top:1%; margin-bottom:1%;}
#table{width:100%; text-align:center;}
#table table{width:100%; display:block;}
.table tr{ width:100%; font-size:16px; line-height:30px;}
.table td{ width:25%; font-size:14px; padding:0px 4px; text-align:center;}
.title{background-color:#000000; color:#fff; border-radius:5px;}
.result span{ display:block; text-align:center;width:100%; font-size:14px;}
.result button{background-color:#000000; color:#fff; width:20%; line-height:30px; border-radius:10px;}