/*  Moment  */
.display_block{display: block;}
.display_none{display: none;}

#select_moment_type{width: 100%; background: #FFFFFF; height: 7.5vh;margin-top: 10vh;}
#select_moment_nearby{width: 50%; float: left; position: relative; height: 5vh; margin-top: 2.5vh;}
#select_moment_following{ width: 50%; float: right; position: relative;height: 5vh; margin-top: 2.5vh;}
.select_moment_span{width: 60%; text-align: center; height: 5vh; line-height: 4vh; color:#F18C3C; position: absolute; left: 20%;}

.moment_content_templete{width: 94%; display: none; margin-left: 3%; margin-top: 1.5vh; border-radius: 5px; background: #FFFFFF;}
.moment_content_templete_top{position: relative; width: 100%; height: 10vh; background: #FFFFFF;}
.monent_user_name{height: 6vh; text-align: left; position: relative; padding-top: 2vh; margin-left: 13vh;}
.moment_content_templete_top span{height: 3vh; line-height:3vh; display: block; overflow: hidden;}
.moment_user_headImg{ height: 7vh; margin-top: 1.5vh; float: left; margin-left: 3vh; }
.more_icon{width: 8vw; position: absolute; right: 6vw; top: 5vh;}
.monent_video{width: 100%;}
.monent_video img{width: 100%;}
.moment_content{width: 94%; margin-left: 3%; position: relative; padding-bottom: 10vw; border-bottom: 2px #f7f7fb solid;}
.moment_tag{background: #d8d8d8; border-radius: 3vw; position: absolute; bottom: 0.5vh; right: 0; color: #989898; padding-left: 2vw; padding-right: 2vw;}
.moment_share_comment{height: 7vh; width: 100%;}
.moment_share{width: 35vw; height: 100%; float: left; text-align: center; position: relative;}
.moment_share img,.moment_comment img{height: 3vh; top: 1.5vh; position: absolute; left: 5vw;}
.moment_comment{width: 35vw; height: 100%; float: left; text-align: center; position: relative;}
.moment_share span, .moment_comment span{display: block; height: 7vh; line-height: 7vh; color: #a1a1a1;}

.chat_list_user_info{height: 25vw; border-bottom: 1px #888888 solid;}
.user_headImg{height: 20vw; width: 20vw;margin-top: 2.5vw; float: left;}
.user_headImg img{width: 20vw; height: 20vw; -moz-border-radius: 10vw; -webkit-border-radius: 10vw; border-radius: 10vw;}
.user_info{display: block; float: left; height: 10vw; margin-top: 7.5vw; margin-left: 3vw;}
.user_info p{font-size: 1.35rem; margin-bottom: 3px; color: #3d3d3d;}
.user_info a{color: #8f8f94; font-size: 1.15rem;}
